* {
  font-family: sans-serif;
  color: gray;
  margin: 1em;
  text-align: center;
}

body {
    background: black;
}

h1 {
  margin: .3em;
}

input {
    font-size: 1em;
}

input[type="text"] {
  border: solid black 1px;
  width: 200px;
  background: #eee;
  color: black;
  padding: .6em;
  margin: 5px;
}

input[type="checkbox"] {
    display: inline-block;
    background: #eee;
    margin: 2px;
    vertical-align: middle;
}

input[type="button"] {
    background-color: rgb(200, 74, 74);
    color: black;
    padding: .5em;
    width: 15em;
    white-space: normal;
}

.output {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
}

.resultBox {
    margin: 0 auto;
    float: left;
    display: inline-block;
}

.resultBox a.context {
    font-size: .8em;
    text-decoration: none;
    color: black;
    margin: 0;
}

.resultBox a.context:hover {
    font-size: .8em;
    text-decoration: none;
    margin: 0;
}


.imgBox {
    height: 15em;
    width: 15em;
    display: inline-block;
    margin-bottom: .3em;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background: url('starball.gif') no-repeat center;
}

img {
    position: relative;
    left: 100%;
    margin-left: -200%;
}

.loading {
  width: 0px;
  margin: 0px;
  padding: 0px;
  margin: 0px;
  display: none;
}

a.container {
  margin: 0px;
  padding: 0px;
}
