* {
  font-family: sans-serif;
  background: black;
  color: gray;
  margin: 1em;
  text-align: center;
}

h1 {
  margin: .3em;
}

input {
  border: solid black 1px;
  font-size: 1em;
  width: 200px;
  background: #eee;
  color: black;
  padding: .6em;
}

.resultBox {
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    width: 15em;
    float: left;
    display: none;
}

.imgBox {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    vertical-align: middle;
    display: none;
    box-shadow: 10px 10px 5px #eee;
}

.loading {
  width: 0px;
  margin: 0px;
  padding: 0px;
}

a.container {
  margin: 0px;
  padding: 0px;
}
