* {
  font-family: sans-serif;
  color: gray;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

body {
    background: white;
    margin-left: auto;
    margin-right: auto;
}

h1 {
  margin: .3em;
  display: inline-block;
}

input {
    font-size: 1em;
}

input[type="text"] {
  border: solid black 1px;
  width: 200;
  background: #eee;
  color: black;
  padding: .6em;
  margin: 5px;
}

input[type="checkbox"] {
    background: #eee;
    margin: 2px;
    vertical-align: middle;
}

input[type="button"] {
    background-color: rgb(200, 74, 74);
    color: black;
    padding: .5em;
    white-space: normal;
    border: solid rgb(200, 150, 150) 2px;
}

.progress {
    margin: 1em;
}

.output {
    text-align: center;
    display: block;
    margin-top: 1em;
    background-color: #FCC987;
    border-bottom: solid #EBAD60 .4em;
    padding-bottom: 1em;
    padding-right: 1em;
    position: relative;
}

.output:empty {
    display: none;
}

.header {
    margin-top: 1em;
    text-align: left;
}

.footer {
    padding-top: 1em;
    margin-bottom: 2em;
}

.resultBox {
    margin: 0 auto;
    margin-top: 1em;
    margin-left: 1em;
    border-top: solid #EBAD60 .4em;
    border-left: solid #EBAD60 .4em;
    display: inline-block;
    position: relative;
    text-align: middle;
}

.resultBox.nsfw {
    background-image: url(/nsfw.gif);
}

.resultBox a.context {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-decoration: none;
    color: #C0B8FF;
    background-color: gray;
    display: none;
    margin: 0;
    opacity: .8;
}

a.imageLink {
    height: 15em;
    width: 15em;
    display: inline-block;
    padding: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #EEBF82;

}

a.page {
    display: block;
    padding-top: 1em;
}

div.animated {
    border-top: dotted #EBAD60 .3em;
    border-left: dotted #EBAD60 .3em;
}

ul.menu {
    list-style-type: none;
    width: 100%;
    position: absolute;
    bottom: 0px;
    vertical-align: middle;
    background-color: black;
    opacity: .7;
    padding-top: .5em;
    padding-bottom: .5em;
    box-sizing: border-box;
}

ul * {
    color: white;
    font-weight: bold;
    text-decoration: none;
    opacity: 1;
}

ul img {
    width: 90%;
}

ul.menu li {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}
