<!DOCTYPE html>
<html>
    <head>
        <title>imgwaffle</title>
        <link rel="stylesheet" type="text/css" href="/styles.css" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p class="header">
            <h1>imgwaffle</h1>
            <input type="text" placeholder="reddit user" name="username" id="username"/>
            <br /><input type="checkbox" checked="checked" id="nsfw">Hide NSFW</input>
            <br /><input type="button" id="confirm" value="I am at least 18 years old and willing to view adult content.">
        </p>
        <p id="progress" clss="progress"></p>
        <p id="output" class="output"></p>
        <p id="footer" class="footer"></p>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/jquery.color-2.1.2.min.js"></script>
    <script src="/scripts.js"></script>
</html>
