<!DOCTYPE html>
<html  xmlns:ng="http://angularjs.org" data-ng-app="imgwaffle" data-ng-controller="imageList">
    <head>
        <base href="/" />
        <title>{{search && search != '' ? search + ' | ' : ''}}imgwaffle</title>

        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="stylesheet" type="text/css" href="/styles.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="View images postedy by your favorite redditors.">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/jquery.color-2.1.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="/scripts.js"></script>
    </head>

    <body>
        <form data-ng-submit="get(search)">
            <h1>imgwaffle</h1><input type="text" data-ng-model="search" data-ng-trim="true" data-ng-blur="get(search)"/>
        </form>
        <input type="checkbox" data-ng-model="hidensfw">Hide NSFW</input>
        <p class="progress" data-ng-show="searching">Loading...</p>
        <p class="progress" data-ng-show="images.length > 0">{{images.length}} image{{images.length != 1 ? 's' : ''}}</p>
        <div class="output">
            <div class="resultBox {{ image.animated != '' ? 'animated' : ''}}" data-ng-repeat="image in images | limitTo:max" data-ng-controller="image">
                <ul class="menu" data-ng-show="showMenu" data-ng-mouseover="showMenu=true" data-ng-mouseout="showMenu=false">
                    <li>
                        <a href="" data-ng-show="image.animated && image.animated != ''" data-ng-click="setNewImage()">
                        <div class="playpause">{{ animated ? '&#9632;' : '&#9654;' }}</div>
                        </a>
                    </li>
                    <li><a target="_blank" href="{{image.context}}">[reddit]</a></li>
                    <li><a target="_blank" href="{{image.url}}">[imgur]</a></li>
                </ul>
                <a class="imageLink"
                data-ng-click="showMenu = !showMenu"
                data-ng-mouseover="showMenu=true"
                data-ng-mouseout="showMenu=false"
                target="_blank"
                back-img="{{activeImage}}"></a>
            </div>
            <a href="" class="page" data-ng-click="max=max+30" data-ng-show="max < images.length">Show More</a>
        </div>
        <p id="footer" class="footer"></p>
    </body>
</html>
